@import "../../styles/variables.scss";

.imageContainer{
    background: $linear-gradient;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    & > .imageContainerDescription{
        padding-left: 6.5625rem;
    }
    & > .image{
        width: 100%;
        & > img{
            width: 130%;
            height: auto;
        }
        
    }
}

.imageContainerCenter{
    background: $linear-gradient;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    & > .imageContainerDescription{
        padding-left: 6.5625rem;
    }
    & > .image{
        & > img{
            width: 95%;
            height: auto;
        }
        
    }
}