@import "../../styles/variables.scss";

.inputContainer {
  display: flex;
  flex-direction: column;
  & > label {
    font-family: $inter-600;
    margin: 0;
    width: 100%;
    padding-bottom: 8px;
    color: var(--header-text-color);

    @media(max-width: 1024px) and (orientation: portrait),
    (max-width: 1279px) and (orientation: landscape) {
      text-align: left;
    }

    @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
      text-align: left;
    }
  }

  & > div {
    //width: 100%;
    position: relative;

    .password {

    }

    & > .iconInto {
      position: absolute;
      top: 0.61rem;
      right: 15px;
      cursor: pointer;
    }

    & > input {
      all: unset;
      background-color: #f2f2f2;
      border: none;
      border-radius: 8px;
      width: 98%;
      height: 52px;
      padding-left: 15px;
    }
  }
}