@import "./variables.scss";

.selectRoleContainer {
  display: flex;
  height: 100vh;

  .rolesContainer {
    display: flex;
    flex-direction: column;
    background: var(--color-navigation-background);
    height: 100%;
    min-height: 100vh;
    width: 100%;

    @media(min-width: 300px) and (orientation: portrait) {
      width: 100%;
    }

    .rolesBlok {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      text-align: left;
      & > div {
        width: 30vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media(max-width: 1024px) and (orientation: portrait),
        (max-width: 1279px) and (orientation: landscape) {
          width: 40vw;
        }
        @media(min-width: 290px) and  (max-width: 800px){
          width: 95%;
        }

        @media(min-width: 1960px) {
          width: 17vw;
        }
      }
      & > div > .rolesItemsContainer{
        &>p {
          padding-top: 1.8rem;
          font-family: $inter-600;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          color: var(--text-text-color);
        }
      }
      @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
        & > div {
          width: 90%;
        }
      }
      .rolesBlokDescription {
        padding-bottom: 2rem;
        & > h1 {
          color: var(--header-text-color);
        }
        & > p {
          color: var(--text-text-color);
        }
      }
      & > footer{
        @media(min-width: 174px) and (max-width: 375px) and (orientation: portrait) {
          position: relative;
        }
      }
    }
  }
  & > .rightSideBlock{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(min-width: 100px) and (max-width: 767px) and (orientation: portrait) {
      display: none;
    }
  }
}

.imageContainerDescription {
  width: 100%;
  padding-left: 80px;
  display: flex;
  align-items: center;
  height: 100px;
  @media(max-width: 1024px) and (orientation: portrait),
  (max-width: 1279px) and (orientation: landscape) {
    align-items: initial;
    padding-left: 40px;
  }
  & > .descriptionBlock{
    padding-right: 47px;
    & > h1{
      font-family: $inter-600;
      font-size: 22px;
      line-height: 27px;
      margin: 0;
      padding: 0 0 12px;
    }
    & > p{
      font-family: $inter-400;
      font-size: 14px;
      line-height: 170%;
      padding: 0;
      margin: 0;
    }
  }
  & > .arrowsBtnContainer{
    display: flex;
    justify-content: space-between;
    width: 6.5rem;
    & > div{
      cursor: pointer;
    }
    &:first-child{
      padding-left: 47px;
    }
  }
}