@import "./variables.scss";

.signInContainer {
  display: flex;
  height: 100vh;
  background: var(--color-navigation-background);

  &>.formContainer {
    position: relative;
    width: 50%;
    height: 100%;
    @media(min-width: 300px) and (max-width: 767px) and (orientation: portrait) {
      width: 100%;
    }
    & > .formContainerBlock{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &>.formBlock {
        width: 95%;
        height: 75vh;
        @media(max-width: 1024px) and (orientation: portrait),
        (max-width: 1279px) and (orientation: landscape) {
          width: 100%;
          text-align: left;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media(min-width: 300px) and (max-width: 767px) and (orientation: portrait) {
          justify-content: flex-start;
          overflow: auto;
          height: 100%;
        }
        &>.formHeaderText {
          width: 45%;
          padding-bottom: 2rem;
          color: var(--header-text-color);
          @media(min-width: 300px) and (max-width: 767px) and (orientation: portrait) {
            width: 100%;
            padding-top: 50px;
          }
          @media(max-width: 1024px) and (orientation: portrait),
          (max-width: 1279px) and (orientation: landscape) {
            width: 75%;
            text-align: left;
          }
        }

        &>.validationMessage {
          text-align: center;
          width: 35%;
          padding-top: 2rem;
          height: 20px;
          color: red;
        }

        &>form {
          width: 45%;
          @media(min-width: 300px) and (max-width: 767px) and (orientation: portrait) {
            width: 80%;
            text-align: left;
          }
          @media(max-width: 1024px) and (orientation: portrait),
          (max-width: 1279px) and (orientation: landscape) {
            width: 75%;
            text-align: left;
          }
          &>div {
            padding-bottom: 1.2rem;
          }
        }
        & > p{
          color: var(--text-text-color);
        }
      }
    }

  }
  & > .rightSideBlock{
    background: var(--color-background);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    @media(min-width: 300px) and (max-width: 767px) and (orientation: portrait) {
      display: none;
    }
    @media(max-width: 1024px) and (orientation: portrait),
    (max-width: 1279px) and (orientation: landscape) {
      img {
        width: 160% !important;
      }
    }
    & > div > .rightSideHeaderContainer{
      & > h1 {
        color: var(--header-text-color);
      }
      & > p {
        color: var(--text-text-color);
      }

    }
  }
}