@import "../../styles/variables.scss";

.appContainer {
  background-color: var(--color-background);
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  z-index: 10000;
  &>.appContainerNav {
    width: 25%;
    background-color: var(--color-navigation-background);
    height: 100%;
    filter: var(--filter-shadow);
    @media(max-width: 1024px) and (orientation: portrait),
    (max-width: 1279px) and (orientation: landscape) {
      position: absolute;
      height: 100%;
      left: -30%;
      transition: 0.4s ease;
      z-index: 1;
      width: 40%;
    }

    @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
      left: -30%;
      width: 98%;
    }
    @media(min-width: 359px) and (max-width: 467px) and (orientation: portrait) {
      left: -30%;
      width: 96%;
    }

    

    &>.navigationContainer {
      @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
        padding-top: 30px;
      }

      display: flex;
      flex-direction: column;
      padding-top: 85px;
      padding-left: 28px;

      &>.activeLink {
        background: linear-gradient(267.08deg, #2B3E9B -4.96%, #1E328E 100%);
        border-radius: 6px;
        align-items: center;

        &>a {
          color: #FFFFFF;
        }

        &>.iconContainer {
          &>div {
            &>svg {
              path {
                fill: #FFFFFF;
                fill-opacity: 1;
              }

            }
          }
        }
      }

      &>.navigationLink {
        width: 90%;
        height: 48px;
        align-items: center;
        padding: 1rem;

        &>.iconContainer {
          padding-right: 22px;
        }

        &>a {
          text-decoration: none;

          &:hover {
            background-color: transparent;
          }
        }

        display: flex;
        flex-direction: row;
        margin-bottom: 1.6rem;

        @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
          margin-bottom: 1rem;
        }
      }
    }

    &>.userSettings {
      @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
        width: 83%;
      }

      left: 32px;
      width: calc(100% - 5vw);
      position: absolute;
      bottom: 32px;

      &>.userData {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 1.8rem;

        &>.userImage {
          padding-right: 0.6rem;
        }

        &>.userInfo {
          display: flex;
          justify-content: space-between;
          width: 100%;

          &>.info {
            &>p {
              margin: 0;
              padding: 0 0 5px;

              &:first-child {
                color: var(--header-text-color);
                font-family: $inter-600;
                font-size: 14px;
                line-height: 17px;
              }

              &:last-child {
                color: var(--text-text-color);
                font-family: $inter-400;
                font-size: 12px;
                line-height: 15px;
              }
            }
          }

          &>.logout {
            cursor: pointer;
          }
        }
      }
    }

    &>.navMenuMobile {
      display: none;

      @media (max-width: 1024px) and (orientation: portrait),
      (max-width: 1279px) and (orientation: landscape) {
        display: block;
        position: absolute;
        top: 45%;
        right: -15%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
        top: 10px;
        right: 17px;
      }
    }
  }

  &>.section {
    width: 100%;
    overflow: hidden;

    &>.header {
      display: flex;
      margin: 26px;
      justify-content: space-between;
      align-items: center;

      &>.searchInput {
        position: relative;
        width: 12%;

        @media(max-width: 1024px) and (orientation: portrait),
        (max-width: 1279px) and (orientation: landscape) {
          width: 30%;
        }

        &>input {
          border-radius: 8px;
          border: 1px solid #B9BFD9;
          height: 51px;
          background: none;
          text-indent: 35px;
          width: 100%;
          @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
            width: 50px;
            border-radius: 50%;
          }

          &:focus {
            outline: none;

            @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
              width: 100%;
              border-radius: 8px;
            }
          }

          &::placeholder {
            text-indent: 35px;
            @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
              color: transparent;
            }
           
          }
        }

        &>i {
          position: absolute;
          left: 10px;
          bottom: 30%;
          z-index: 0;
          @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
            left: 15px;
            bottom: 30%;
          }
        }

      }

      &>.navigationContainer {
        &>.navigationBlock {
          display: flex;
          justify-content: center;
          align-items: center;

          &>.icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFFFFF;
            width: 52px;
            height: 52px;
            border-radius: 50%;
          }

          &>.breadCrumbs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 15px;
            padding-top: 5px;

            &>h2 {
              font-family: $inter-600;
              font-size: 20px;
              line-height: 24px;
              color: var(--header-text-color);
              margin: 0;

            }
            &>div{
              color: var(--header-text-color);
            }
          }
        }
      }
    }

    &>.childrenContent {
      display: flex;
      flex-direction: column;
      margin: 1.4rem;
      height: 80%;
      overflow: hidden;

      @media(min-width: 374px) and (max-width: 767px) and (orientation: portrait) {
        height: 100%;
        margin: 0.7rem;
        margin-top: 1rem;

      }
    }
  }
}