@import "../../styles/variables.scss";

.footerContainer {
    // position: absolute;
    // bottom: 0;
    // min-width: 100Vh;
    text-align: center;
    width: 100%;
    & > .footerBlock{
        margin: 32px;
        & > h5 {
            font-family: $inter-400;
            font-size: 12px;
        }

    }
}